# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.


# The main micro-controller is used for the XY-Axes.
[mcu]
serial: /dev/serial/

# The "zcontroller" will be used for the Z axis.
[mcu zcontroller]
serial: /dev/serial/

# Z Stepper 1
[stepper_z]
step_pin: zcontroller:PB13
dir_pin: !zcontroller:PB12
enable_pin: !zcontroller:PB14
microsteps: 16
rotation_distance: 8
endstop_pin: ^zcontroller:PC0
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z]
uart_pin: zcontroller:PC11
tx_pin: zcontroller:PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

# Z Stepper 2
[stepper_z1]
step_pin: zcontroller:PB10
dir_pin: !zcontroller:PB2
enable_pin: !zcontroller:PB11
microsteps: 16
rotation_distance: 8
endstop_pin: ^zcontroller:PC1
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z1]
uart_pin: zcontroller:PC11
tx_pin: zcontroller:PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

# Z Stepper 3
[stepper_z2]
step_pin: zcontroller:PB0
dir_pin: !zcontroller:PC5
enable_pin: !zcontroller:PB1
microsteps: 16
rotation_distance: 8
endstop_pin: ^zcontroller:PC2
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z2]
uart_pin: zcontroller:PC11
tx_pin: zcontroller:PC10
uart_address: 1
run_current: 0.580
stealthchop_threshold: 999999

# Z Stepper 4
[stepper_z3]
step_pin: zcontroller:PB3
dir_pin: !zcontroller:PB4
enable_pin: !zcontroller:PD1
microsteps: 16
rotation_distance: 8
endstop_pin: ^zcontroller:PC3
position_endstop: 0.0
position_max: 250

[tmc2209 stepper_z3]
uart_pin: zcontroller:PC11
tx_pin: zcontroller:PC10
uart_address: 3
run_current: 0.580
stealthchop_threshold: 999999

# Bed Heater
[heater_bed]
heater_pin: zcontroller:PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: zcontroller:PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 120

# Stepper X
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold: 999999

# Stepper Y
[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
stealthchop_threshold: 999999

# Extruder
[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650

# Hotend Fan
[heater_fan hotend_fan]
pin: PC7

# Part Cooling Fan
[heater_fan part_cooling_fan]
pin: PB15

# Controlboards Fan
[fan]
pin: PC6

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 25
max_z_accel: 30